@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Bem-Vindo, Tudo Bom </h1>
    <br/>
    <h3>Testando ASP .NET Core MVC 3.1 com Docker /h3>
</div>
